.sign-in-form {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.sign-in-form h2 {
  text-align: center;
}

.sign-in-form div {
  margin-bottom: 15px;
}

.sign-in-form label {
  display: block;
  margin-bottom: 5px;
}

.sign-in-form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}